/*Big pieces*/
#explorer-app {
	margin-top: 50px;
	// border: 1px solid blue;
}

.explorer-pane {
	// border: 1px solid darkgrey;
}

.input-pane {
	// border: 1px solid green;
}

/*Input pane*/
.input-pane textarea {
	resize: none;
	height: 338px !important;
	border-radius: 5px;
}

.btn {
	margin-top: 20px;
}

/*Column View*/
.column-view {
	background-color: #eee;
	border: 1px solid lightgrey;
	border-radius: 5px;
	
	white-space:nowrap;
	overflow-x: auto;
}

.column-view>* {
	background-color: white;
}

.level-column {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-right: 1px;

	border: 1px solid lightgrey;
	border-top-width: 0px;
	// border-radius: 5px;
}

.level-column:first-child {
	border-left-width: 0;
}

.level-column-caption-container {
	position: absolute;
	bottom: 0;
	clear: both;
	display: block;

	width: 100%;
	padding: 8px;
	margin-top: 5px;

	background-color: lightgrey;
}

.list-group {
	margin-bottom: 36px;
	height: 300px;
	min-width: 100px;
	max-width: 200px;
	overflow: auto;
}

.list-group-item {
	border-left-width: 0;
	border-right-width: 0;
}

.list-group-item:first-child {
	border-top-width: 0;
}

.key-row {
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 0 !important;
}

.level-column-caption {
	font-weight: bold;
	font-color: #777;
	text-align: center;
}

/*Column View*/
.path-view {
	margin-top: 20px;
}

.path-caption {
	font-size: 1.2em;
}

.current-path {
	font-size: 2em;
}

/*Sample Data Modal*/
.modal-body pre{
	white-space:pre-wrap;
	word-wrap: break-word;
}

/*Smaller screens: */
@media (max-width: 991px){
	.input-pane textarea{
		height: 200px !important;
	}
}
