@import '../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

/*~~~~~~~~~~~~~~~~~~~~~COLOR~~~~~~~~~~~~~~~~
/*Base colors: */

$greyish: #222526;
$primary: #284657;
$highlight: #cf412e;
$off-white: #eee;
$dark-text: black;

/*Computed colors: */

$primary-bland: lighten(desaturate($primary,60%),15%);
$primary-blander: lighten(desaturate($primary,80%),25%);
$primary-blandest: lighten(desaturate($primary,80%),35%);

$primary-bold: darken(desaturate($primary,30%),10%);
$primary-bolder: darken(desaturate($primary,30%),15%);

$primary-washed: desaturate(lighten($primary,20%),20%);

$highlight-bland: lighten(desaturate($highlight,10%),10%);
$highlight-bold: darken(desaturate($highlight,30%),30%);

$greyish-light: lighten($greyish,10%);
$greyish-lighter: lighten($greyish,25%);

/*Assigned colors & backgrounds: */
body {
	background-color: $primary-bolder;
	background-image: url("../images/bg-small.png");
	background-attachment: fixed;
	color: $off-white;
}

.modal {
	color: $dark-text;
}

a {
	color: $highlight;
}

.main-app-row {
	background-color: $greyish-light;
}

.column-view {
	background-color: $primary-bland;
}

.explorer-help-text {
	color: $off-white;
}

.level-column {
	background-color: $primary-blandest;
	border-right: 1px solid $primary-bold;
}

.property-row {
	background-color: $primary;
	border-color: $primary-bold;
	color: $off-white !important;

	&:hover {
		color: $dark-text !important;		
	}
}

.property-row.active, .property-row.active:hover {
	background-color: $highlight;
	border-color: $primary-bold;
	color: $off-white !important;
}

.property-row.disabled, .property-row.disabled:hover {
	color: $off-white !important;
	background-color: $primary-washed;
}

.level-column-caption-container {
	border-top: 1px solid $primary-bold;
	background-color: $greyish-lighter;
}

.input-pane textarea {
	background-color: $off-white;
	border: 0px;
	color: $dark-text;
}

.btn-primary {
	background-color: $primary;
	border-color: $primary-bold;

	&:hover {
		background-color: lighten(desaturate($primary,10%),10%);		
	}
}

.error-msg {
	color: $highlight;
	background-color: $off-white;
	font-weight: bold;
}

.content-pane>pre {
	background-color: $off-white;
}

.github-logo {
	display: inline-block;
	height: 32px;
	width: 32px;
	background-image: url("../images/github.png");
	position: relative;
	top: 9px;
}

.npm-logo {
	display: inline-block;
	height: 32px;
	margin-right: 16px;
	// width: 32px;
}

/*~~~~~~~~~~~~~~~~~~~LAYOUT~~~~~~~~~~~~~~~~*/

/*Big pieces*/

.main-app-row {
	border-radius: 5px;
	padding-top: 14px;
	min-height: 525px;
}

#explorer-app {
	margin-top: 25px;
}

/*Input pane*/
.input-pane textarea {
	resize: none;
	height: 398px !important;
	border-radius: 5px;
}

.btn {
	margin-top: 20px;
	height: 50px;
	width: 120px;
}

/*Column View*/
.column-view {
	height: 398px;
	border-radius: 5px;
	
	white-space:nowrap;
	overflow-x: auto;
}

.level-column {
	position: relative;
	display: inline-block;
	vertical-align: top;
	height: 100%;
	border-top-width: 0px;

	&:first-child {
		border-left-width: 0;
		border-top-left-radius: 20px;
	}
}

.level-column-caption-container {
	position: absolute;
	bottom: 0;
	clear: both;
	display: block;

	width: 100%;
	padding: 8px;
	margin-top: 5px;
}

.list-group {
	margin-bottom: 36px;
	min-width: 100px;
	max-width: 200px;
	height: 360px;
	overflow: auto;
}

.list-group-item {
	border-left-width: 0;
	border-right-width: 0;

	&:first-child {
		border-top-width: 0;
	}
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
	z-index: 0;
}

.property-row {
	padding-top: 3px;
	padding-bottom: 3px;
	display: inline-block;
	clear: both;
	float: left;
	min-width: 100%;
	border-radius: 0 !important;
	cursor: default;
}

.level-column-caption {
	text-align: center;
}

.explorer-help-text {
	margin: 6px 12px;

	position: absolute !important;
	bottom: 0;
	right: 12px;
}

.error-msg {
	margin-top: 20px;
}

.path-view {
	margin-top: 20px;
}

/*Content Pane*/
.content-pane {
	margin-bottom: 20px;
}

/*Sample Data Modal*/
.modal-body pre{
	white-space:pre-wrap;
	word-wrap: break-word;
}

/*Links and helper text*/
.non-app-text-row {
	position: relative;
}

.non-app-text {
	position: absolute;
	bottom: 0;
}

/*Smaller screens: */
@media (max-width: 991px){
	.input-pane textarea{
		height: 200px !important;
	}
	#explorer-app {
		margin-bottom: 50px;
	}
}

.web-only-row {
	margin-top: -20px;
}

/*~~~~~~~~~~~~~~~~~~~TYPOGRAPHY~~~~~~~~~~~~~~~~~~*/

h1 {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 50px;
	// margin-bottom: -10px;
}
 
* {
	font-family: 'Open Sans', Georgia, Times, serif;
	font-size: 15px;
	line-height: 25px;
}

body {
	font-size: 1.6em;
}

.level-column-caption {
	font-weight: bold;
}

.help-text-small {
	font-size: 1.2em;
}

.current-path {
	font-size: 2em;
}

.explorer-help-text {
	font-size: 1.5em;
}

.btn {
	font-size: 1.2em;
}

textarea::-webkit-input-placeholder {
		color: red;
    font-size: 1.5em;
}
textarea:-moz-placeholder {
    /* FF 4-18 */
    color: red;
    font-size: 1.5em;
}
textarea::-moz-placeholder {
    /* FF 19+ */
    color: red;
    font-size: 1.5em;
}
textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: red;
    font-size: 1.5em;
}
